Flask
Flask-Login
Flask-Mail
Authlib
bcrypt
beautifulsoup4
email-validator
gunicorn
httpx
img2pdf
lxml
mysql-connector-python
numpy
opencv-python-headless
openpyxl
pandas
pdf2docx
pdf2image
phonenumbers
pikepdf
Pillow
psutil
pyclipper
pycryptodome
pydantic
PyMuPDF
pypdf
pypdfium2
pytesseract
python-bidi
python-dateutil
python-docx
python-dotenv
PyYAML
razorpay
reportlab
requests
rich
ruamel.yaml
shapely
sympy
tqdm
typer
ujson